@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* Mobile Navbar */

#main {
  display: flex;
  justify-content: end;
  flex-direction: row-reverse;
}

#hamburger-menu {
  width: 40px;
  height: 40px;
  /* background-color: rgb(202, 202, 202); */
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 3px;
  z-index: 2;
}

.top-bar,
.middle-bar,
.bottom-bar {
  width: 20px;
  height: 2px;
  background-color: black;
  position: absolute;
  list-style: none;
  transition: all 0.1s;
  margin-top: -2px;
}

.top-bar {
  top: 15px;
}
.middle-bar {
  top: 22px;
}
.bottom-bar {
  top: 29px;
}

#navigation-div {
  text-transform: uppercase;
  font-weight: 600;
  background-color: white;
  width: 100%;
  height: 100vh;
  padding: 3rem 5rem;
  font-size: 20px;
  display: flex;
  justify-content: center;
}

#navigation-div ul {
  height: 100%;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 2rem;
  margin-top: 5rem;
}

#mobile-nav {
  position: absolute;
  top: 0;
  justify-content: end;
  transform: translateX(26rem);
  z-index: 1;
  width: 100%;
}

.toggle li:first-child {
  transform: rotate(45deg);
  transition: all 0.3s;
  position: absolute;
  top: 1.2rem;
}
.toggle li:nth-child(2) {
  display: none;
}

.toggle li:nth-child(3) {
  transform: rotate(-46deg);
  top: 15px;
  transition: all 0.3s;
  position: absolute;
  top: 1.2rem;
}
